<div class="row">
	<div class="col-md-3">
		<%= image_tag @business.image_url %>

		<h2>
 		 <%= @business.name %>
		</h2>

		<p>
		  <strong>Address:</strong>
 		 <%= @business.address %>
		</p>

		<p>
		  <strong>Phone:</strong>
 		  <%= @business.phone %>
		</p>

		<p>
		  <strong>Website:</strong>
 		 <%= link_to @business.website, @business.website %>
		</p>

		<%= link_to "Write a Review", new_business_review_path(@business), class: "btn btn-primary" %>
		<br><%= link_to 'Edit', edit_business_path(@business), class: "btn btn-link" %> |
		<%= link_to 'Back', businesses_path, class: "btn btn-link" %>
	</div>

	<div class="col-md-9">
	  <% if @reviews.blank? %>
	  	<h3>No reviews yet. Ask for some!</h3>
	  <% else %>
	  	<% @reviews.each do |review| %>
		<h3><%= review.name %></h3>
		<h4><%= review.email %></h4>
		<p><%= review.rating %></p>
		<p><%= review.comment %></p>
		<hr>
  		<% end %>
	  <% end %>
	
	</div>
</div>






